.playerChoiceContainer {
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 1px solid black;
    margin-top: 50px;
}

.playerChoiceContainer > button {
    /* display: block; */
    /* border: 1px solid rgb(0, 0, 0); */
    height: 250px;
    width: 250px;
    font-size: 2rem;
    
}

.roundContainer {
    /* border: 4px solid yellow; */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    /* align-items: center; */
    
}

.roundContainer .pointsContainer {
    /* margin-top: 100px;  */
    display: flex;
    justify-content: space-evenly;
    /* gap: 150px; */
    border: 1px solid purple;
    height: 150px;
}

.pointsContainer > div {
    width: 250px;
    border: 2px solid black;
    text-align: center;
    font-size: 5rem;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.label {
    font-size: 2rem;
    /* border: 1px solid black; */
}


.roundContainer .result {
    width: 500px;
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    align-self: center;
}

.resetContainer{
    /* border: 1px solid red; */
    margin-top: 50px;
    text-align: center;
}

#reset{
    font-size: 2rem;
    
}