.playerChoiceContainer {
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 10px;
   
    margin-top: 50px;
}

.playerChoiceContainer > button {
    
    height: 250px;
    width: 250px;
    font-size: 2rem;
    
}

.roundContainer {
    
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    
    
}

.roundContainer .pointsContainer {
    
    display: flex;
    justify-content: space-evenly;
    
    height: 150px;
}

.pointsContainer > div {
    width: 250px;
    border: 2px solid black;
    text-align: center;
    font-size: 5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.label {
    font-size: 2rem;
    
}


.roundContainer .result {
    width: 500px;
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    align-self: center;
}

.resetContainer{
   
    margin-top: 50px;
    text-align: center;
}

#reset{
    font-size: 2rem;
    
}